<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <CommunicatorCorp_Communicator>
            <version>1.0.0</version>
        </CommunicatorCorp_Communicator>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <communicator after="Mage_Adminhtml">CommunicatorCorp_Communicator</communicator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <communicator_insert_existing>
                <run>
                    <model>communicator/cron::insertExisting</model>
                </run>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </communicator_insert_existing>
            <communicator_insert_abandoned_orders>
                <run>
                    <model>communicator/cron::insertAbandonedOrders</model>
                </run>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </communicator_insert_abandoned_orders>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <CommunicatorCorp_Communicator>
                <use>standard</use>
                <args>
                    <module>CommunicatorCorp_Communicator</module>
                    <frontName>communicator</frontName>
                </args>
            </CommunicatorCorp_Communicator>
        </routers>
    </frontend>
    <global>
        <blocks>
            <communicator>
                <class>CommunicatorCorp_Communicator_Block</class>
            </communicator>
        </blocks>
        <events>
            <admin_system_config_changed_section_communicator>
                <observers>
                    <communicator>
                        <class>communicator/observer_config</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </admin_system_config_changed_section_communicator>
            <always>
                <observers>
                    <communicator>
                        <class>communicator/observer_controller</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </always>
            <default>
                <observers>
                    <communicator>
                        <class>communicator/observer_controller</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </default>
            <catalog_product_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_product</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </catalog_product_save_after>
            <controller_front_init_before>
                <observers>
                    <communicator>
                        <class>communicator/observer_controller</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </controller_front_init_before>
            <customer_address_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_address</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </customer_address_save_after>
            <customer_login>
                <observers>
                    <communicator>
                        <class>communicator/observer_customer</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_customer</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_newsletter</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_newsletter</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </newsletter_subscriber_delete_after>
            <sales_order_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_sales</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </sales_order_save_after>
            <sales_model_order_send_email_before>
                <observers>
                    <communicator>
                        <class>communicator/observer_order</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </sales_model_order_send_email_before>
            <sales_order_invoice_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_invoice</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </sales_order_invoice_save_after>
            <sales_model_order_invoice_send_email_before>
                <observers>
                    <communicator>
                        <class>communicator/observer_invoice</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </sales_model_order_invoice_send_email_before>
            <sales_order_shipment_save_after>
                <observers>
                    <communicator>
                        <class>communicator/observer_shipment</class>
                        <method>observe</method>
                    </communicator>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <helpers>
            <communicator>
                <class>CommunicatorCorp_Communicator_Helper</class>
            </communicator>
        </helpers>
        <models>
            <communicator>
                <class>CommunicatorCorp_Communicator_Model</class>
            </communicator>
            <core>
                <rewrite>
                    <email_template>CommunicatorCorp_Communicator_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <sales>
                <rewrite>
                    <order>CommunicatorCorp_Communicator_Model_Sales_Order</order>
                    <order_invoice>CommunicatorCorp_Communicator_Model_Sales_Invoice</order_invoice>
                </rewrite>
            </sales>
        </models>
        <resources>
            <communicator_setup>
                <setup>
                    <module>CommunicatorCorp_Communicator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </communicator_setup>
            <communicator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </communicator_read>
            <communicator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </communicator_write>
        </resources>
    </global>
</config>
